<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "MD_BC_APP"
        version     = "1.0.0" >
     <icon src="www/icon.png" />

<platform name="android">
    <!-- you can use any density that exists in the Android project -->
    <splash src="scr/splash.png" density="land-hdpi"/>
    <splash src="scr/splash.png" density="land-ldpi"/>
    <splash src="scr/splash.png" density="land-mdpi"/>
    <splash src="scr/splash.png" density="land-xhdpi"/>

    <splash src="scr/splash.png" density="port-hdpi"/>
    <splash src="scr/splash.png" density="port-ldpi"/>
    <splash src="scr/splash.png" density="port-mdpi"/>
    <splash src="scr/splash.png" density="port-xhdpi"/>
</platform>



    <name>MD BUSINESS CARD</name>
    <description>MATEUSZ DUDLAK BC</description>
    <author email="mateusz.dudlak@gmail.com">
		Mateusz Dudlak
	</author>
	<platform name="android" />
	
	<plugin name="cordova-plugin-device" spec="~1.1.4" />
	<plugin name="cordova-plugin-dialogs" spec="~1.3.1" />

</widget>